@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100%;
    background-color: #F2F2F7;
    font-family: "Inter", 'Times New Roman', Times, serif;
}

header{
    width: 100%;
    display: flex;
    padding: 0px 20px 20px 20px;
    justify-content: flex-start;
    align-items: flex-end;
}

header a button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: rgba(255,255,255,.1);
    margin-top: 30px;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 1.4rem;
}

header a button:hover{
    transform:scale(1.1);
}

header h1{
    font-size: 1.5rem;
    font-weight: 400;
    transform: translate(100%, -50%);
}

/* --HEADER-- */

/* CONFIG */

.container-config{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.config{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.item-right{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.imagem{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(imgs/config.jpg);

    border-radius: 15px;
}

.item-right .nome{
    font-size: 1.2rem;
}

.botao{
    background-color: red;
    width: 90px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    transition: background-color .5s ease;
}

.bola{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    transition: transform .5s ease, background-color .5s ease;
    transform: translateX(-2%);
}

.botao.ativo .bola{
    transform: translateX(80%);
}

.botao.ativo{
    background-color: green;
}

.item-final{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}