@charset "UTF-8";

/* root - cores - fonte */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    width: 100vw;
    height: 100vh;
    background-image: url(imgs/meu-amor.JPG);
    background-size: cover;
    background-position: center;
}


main{
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: start;
    padding: 20px 0;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.home{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #d5d5d5;
    border: 3px solid #474646;
    transition: background-color .5s ease;
}

.home:hover{
    background-color: #b3b3b3;
}

.conteiner{
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 20px;
}

.app{
    border-radius: 10px;
    width: 85%;
    height: 65px;
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: center;
    transition: transform .5s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.app:hover{
    transform: scale(1.1);
}

.gallery{
    background-image: url(imgs/gallery.jpg);
}

.maps{
    background-image: url(imgs/maps.jpg);
}

.config{
    background-image: url(imgs/config.jpg);
}

.google{
    background-image: url(imgs/google.jpg);
}

.bloco-de-notas{
    background-image: url(imgs/bloco-de-nota.jpg);
}

.quiz{
    background-image: url(imgs/quiz.png);
}

.ttk{
    background-image: url(imgs/ttk.jpg);
}

.spotify{
    background-image: url(imgs/spotify.jpg);
}

.zap{
    background-image: url(imgs/zap.jpg);
}

.centro-app{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.telefone{
    background-image: url(imgs/telefone.jpg);
}

.gift{
    background-image: url(imgs/gift.png);
}

